body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'DM Serif Display', serif;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

#urlInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

#createButton {
    background-color: #4285f4;
    color: #fff;
    padding: 14px;
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

#createButton:hover {
    background-color: #357ae8;
}

#response {
    visibility: hidden;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

#responseContent {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#copyButton {
    background-color: #4285f4;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#copyButton:hover {
    background-color: #357ae8;
}